@use '../../styles/common';
@use '../../styles/mixins' as m;


@include m.wrapper();

.tax-id{
  @include m.id-info();
}

.name{
  @include m.title();
}

.name + .rank{
  margin-top: -8px;
}
.authority-name {
  margin-top: 8px;
}

h3 {
  @include m.heading();
}

.lineage-list {
  @include m.lineage-list();
}

.sub-classes{
  line-height: 1.5;
  a{
    display: inline-block;
    margin-right: 0.3em;
  }
}

