/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.wrapper {
  position: relative;
  font-size: 16px;
  font-family: "Fira Sans Condensed", sans-serif;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 5px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

header h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  padding-left: 8px;
}

a {
  color: #6FA80C;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.error {
  color: #990000;
}

.gm-id .value {
  margin: 0 16px 0 4px;
  line-height: 1.5;
}
.gm-id .links {
  position: relative;
  margin-top: 4px;
  white-space: nowrap;
}
.gm-id .links a {
  background-color: #8FC31F;
  color: #FFFFFF;
  padding: 4px 8px 2px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
}

p.title {
  font-size: 40px;
  margin: 24px 0 16px;
}
p.title .ph {
  font-size: 24px;
}

h3 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 20px;
}

.recipe h4 {
  font-size: 16px;
  margin-top: 8px;
}
.recipe p {
  margin: 4px 0;
  line-height: 1.2;
}

.component-table {
  margin-top: 8px;
  border: 1px solid #ddd;
  width: 100%;
}
.component-table th {
  font-weight: 600;
  text-align: left;
}
.component-table th, .component-table td {
  border: 1px solid #ddd;
  padding: 8px 8px;
  box-sizing: border-box;
}
.component-table .name {
  width: 35%;
}
.component-table .id {
  width: 10%;
  white-space: nowrap;
}
.component-table .volume {
  width: 10%;
}
.component-table .volume span:first-child {
  display: inline-block;
  width: 60%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 4px;
}
.component-table .volume span:last-child {
  display: inline-block;
  width: 40%;
  text-align: left;
}
.component-table .properties span {
  border: 1px solid #6FA80C;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px;
  display: inline-block;
}
.component-table .functions span {
  font-size: 13px;
  font-weight: 600;
}