<header>
  <h2>Phenotype information</h2>
</header>
<div class="wrapper">

  <table>
    <tr>
      <th>Cell shape</th>
      <th>Temperature range</th>
      <th>Motility</th>
      <th>Staining</th>
      <th>Energy source</th>
    </tr>
    <tr>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
      <td>N/A</td>
    </tr>

  </table>
</div>
