@use '../../styles/common';
@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

@include m.wrapper();



table {
  font-size: 14px;
  width: 100%;
  border: v.$border-thin;
  border-collapse: collapse;

  td, th {
    border: v.$border-thin;
    padding: 5px;
    text-align: center;
  }

  th {
    font-weight: bold;
  }
}

