// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
.wrapper {
  font-size: 16px;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

a {
  color: #6FA80C;
}

.link-btn {
  background-color: #8FC31F;
  color: #FFF;
  padding: 4px 8px 2px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 1;
}


.tax-id .value {
  margin: 0 16px 0 4px;
  line-height: 1.5;
}

.tax-id .links {
  position: relative;
  top: -2px;
  margin-top: 4px;
  white-space: nowrap;
}


.name {
  margin: 24px 0 16px;
}


.name .value {
  font-size: 40px;
}

h3 {
  font-weight: 600;
  margin-top: 24px;
  font-size: 20px;
}

.simple-list {
  line-height: 1.2;
  margin-top: 8px;
}

.component-table {
  margin-top: 8px;
  border: 1px solid #ddd;
  width: 100%;
}

.component-table th {
  font-weight: 600;
  text-align: left;
}

.component-table td, th {
  border: 1px solid #ddd;
  padding: 8px 8px;
}

.properties span {
  border: 1px solid #6FA80C;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px;
}

.functions span{
  font-size: 13px;
  font-weight: 600;
}


.component-table span {
  white-space: nowrap;
}

.component-table span.can-wrap {
  white-space: normal;
}
