@use '../../styles/common';
@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;


@include m.wrapper();

.gm-id{
  @include m.id-info();
}

p.title {
  @include m.title();
  .ph {
    font-size: 24px;
  }
}


h3 {
  @include m.heading();
}

.recipe{
  h4{
    font-size: 16px;
    margin-top: 8px;
  }

  p{
    margin: 4px 0;
    line-height: 1.2;
  }
}

.component-table {
  margin-top: 8px;
  border: 1px solid #ddd;
  width: 100%;

  th{
    font-weight: 600;
    text-align: left;
  }
  th,td{
    border: 1px solid #ddd;
    padding: 8px 8px;
    box-sizing:border-box;
  }

  .component{
    width: 25%;
  }
  .name{
    width: 23%;
  }
  .properties {
    width: 20%;
  }
  .functions {
    width: 12%;
  }
  .id{
    width: 12%;
  }
  .volume{
    width: 8%;
  }

  .properties span {
    @include m.tag();
  }
  .functions span{
    font-size: 13px;
    font-weight: 600;
  }
}







