@use '../../styles/common';
@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;


@include m.wrapper();

.gm-id {
  @include m.id-info();
}

p.title {
  @include m.title();

  .ph {
    font-size: 24px;
  }
}


h3 {
  @include m.heading();
}

.recipe {
  h4 {
    font-size: 16px;
    margin-top: 8px;
  }

  p {
    margin: 4px 0;
    line-height: 1.2;
  }
}

.component-table {
  margin-top: 8px;
  border: 1px solid #ddd;
  width: 100%;

  th {
    font-weight: 600;
    text-align: left;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px 8px;
    box-sizing: border-box;
  }

  .name {
    width: 35%;
  }

  .id {
    width: 10%;
    white-space: nowrap;
  }

  .volume {
    width: 10%;
    span{
      &:first-child{
        display: inline-block;
        width: 60%;
        text-align: right;
        box-sizing: border-box;
        padding-right: 4px;
      }
      &:last-child{
        display: inline-block;
        width: 40%;
        text-align: left;
      }
    }
  }

  .properties span {
    @include m.tag();
  }

  .functions span {
    font-size: 13px;
    font-weight: 600;
  }
}







