@use '../../styles/common';
@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@include m.wrapper();

.name {
  @include m.title();
}

h3 {
  @include m.heading();
}

a.link-btn{
  @include m.color-btn();
}

.id-list {
  line-height: 1.2;
  margin-top: 8px;
  li{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  span:first-child{
    margin-right: 10px;
  }
}



